@import '../../../constants.scss';

button {
    color: $white;
    font-weight: bold;
    background-color: transparent;

    &.contained {
        background-color: $primary;
        &:hover {
            background-color: #712c54;
        }
    }

    &.outlined {
        color: $primary;
        background-color: $white;
        border: solid 1px $primary;
        &:hover {
            border-width: 3px !important;
        }
        &.inverted {
            color: $white;
            background-color: transparent;
            border: solid 1px $white;
        }
    }
}
