@import '../../../constants.scss';

.imageCard {
    width: 100%;
    max-width: 255px;
    text-align: center;
    margin-bottom: 35px;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }

    img {
        width: 100%;
    }

    @include desktop {
        margin-bottom: 0;
    }

    .title {
        color: $black;
        margin-top: 32px;
        margin-bottom: 13px;
    }

    .description {
        font-size: 14px;
        line-height: 20px;
        color: $grey;
    }
}