@import '../../../constants.scss';

.contact {
    height: auto;
    max-width: 1110px;
    margin: 0 10px;
    display: flex;
    flex-direction: column-reverse;

    @include tablet {
        max-width: 80%;
        margin: 0 auto;
        button {
            margin: auto;
        }
    }

    @include desktop {
        height: 600px;
        margin-top: 80px;
        width: 90%;
        max-width: $contentWidth;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;

        > div {
            width: 50%;
        }
        button {
            margin: 0;
        }
    }

    > div {
        height: 100%;
    }

    .imageContainer {
        display: none;
        margin-right: 38.5px;
        @include desktop {
            display: block;
            margin-top: 10px;
        }
        img {
            width: 100%;
        }
    }

    .formContainer {
        text-align: center;
        @include tablet {
            text-align: left;
        }
        #float-label, .custom-select-wrapper {
            max-width: 400px;
        }
    }

    .title, .checkbox {
        margin-bottom: 40px;
    }

    .custom-select-wrapper {
        margin-bottom: 32px;
    }

    #float-label {
        margin-bottom: 32px;
    }
}