@import '../../../constants.scss';

.contact {
    height: auto;
    max-width: 1110px;
    margin: 0 10px;
    display: flex;
    flex-direction: column-reverse;

    @include tablet {
        max-width: 80%;
        margin: 0 auto;
    }

    @include desktop {
        height: 600px;
        max-width: 100%;
        flex-direction: row;

        > div {
            width: 50%;
        }
    }

    > div {
        height: 100%;
    }

    .imageContainer {
        @include tablet {
            margin-right: 38px;
        }
        @include desktop {
            margin-top: 10px;
        }
        img {
            width: 100%;
        }
    }

    .formContainer {
        text-align: center;
        #float-label {
            maxwidth: 400px;
        }
    }

    .title, .checkbox {
        margin-bottom: 40px;
    }

    .custom-select-wrapper {
        margin-bottom: 32px;
    }

    #float-label {
        margin-bottom: 32px;
    }
}