@import '../../../constants.scss';

.header {
    width: 100%;
    height: 88px;
    color: $white;

    .contentContainer {
        display: flex;
        max-width: $contentWidth;
        height: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
    }

    ul li {
        display: inline-block;
        margin-left: 36px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-left: 60px;
        }
    }
    button {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }
}