@import '../../constants.scss';

.App {
	display: flex;
	flex-direction: column;

	.headerSection {
		background-image: url('../assets/hero.png');
		background-size: 100% 100%;
	}
	.content-container {
		max-width: 1440px;
		width: 100%;
	}

	a {
		font-size: 14px;
		font-weight: 600;
		color: #ba4188;
		&:hover {
			color: #d9e4e6;
		}
	}
}

