@import '../../../constants.scss';

.primaryContent {
    max-width: $contentWidth;
    display: flex;
    margin: 80px auto;
    align-items: center;
    text-align: left;

    .titleContainer {
        max-width: 445px;
        line-height: 40px;
    }

    .descContainer {
        display: flex;
        font-size: 16px;
        line-height: 22px;
        margin-top: 55px;
        color: $grey;

        > div {
            margin-right: 33px;
        }

        img {
            width: 25px;
            margin-bottom: 20px;
        }
    }

    .imageContainer {
        width: 100%;
        max-width: 540px;

        img {
            width: 100%;
        }
    }
}