@import '../../../constants.scss';

.primaryContent {
    display: flex;
    margin: 80px auto;
    align-items: center;
    text-align: left;
    flex-direction: column;

    @include desktop {
        width: 90%;
        max-width: $contentWidth;
        margin: 80px auto;
        flex-direction: row;
    }

    @include large-desktop {
        margin-left: auto;
        margin-right: auto;
    }

    .textContainer {
        @include tablet {
            max-width: 80%;
        }
    }

    .titleContainer {
        max-width: 445px;
        line-height: 40px;
        text-align: center;
        margin: 0 auto;

        @include tablet {
            max-width: 100%;
        }

        @include desktop {
            text-align: left;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .descContainer {
        display: flex;
        font-size: 16px;
        line-height: 22px;
        margin-top: 55px;
        color: $grey;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;

        @include desktop {
            margin-left: 0;
            margin-right: 0;
            text-align: left;

            > div {
                &:last-child {
                    margin-right: 33px;
                }
            }
        }

        > div {
            margin-right: 33px;
            &:last-child {
                margin-right: 0;
            }
        }

        img {
            width: 25px;
            margin-bottom: 20px;
        }
    }

    .imageContainer {
        width: 100%;
        max-width: 540px;
        margin-top: 30px;

        @include desktop {
            margin-top: 0;
            margin-left: 33px;
        }

        @include large-desktop {
            img {
                width: 540px;
            }
        }

        img {
            width: 100%;
        }
    }
}