@font-face {
  font-family: 'Muli';
  src: local('Muli'), url(./assets/fonts//Muli.ttf) format('truetype');
}
@font-face {
  font-family: 'MuliBoldItalic';
  src: local('Muli'), url(./assets/fonts//Muli-BoldItalic.ttf) format('truetype');
}